/**
 * @name Revert Discord
 * @version 1.0
 * @description Restore the old message style of Discord's chat.
 * @source https://github.com/fluffingtons/revert-discord
 * @authorId 67319565150851072
 * @author fluffy
**/
@import url(https://fluffingtons.github.io/revert-discord/resources/theme.css);
