/* Version */
#user-settings nav[class^="sidebar-"] > div > div[class^="info"]:last-child > div:first-child::before {
  content: "Revert Theme (4/03/2019)";
  display: block;
}

/* Message group start border */
div[class*="cozyMessage"][class*="groupStart"] {
  margin-top: 40px!important;
  position: relative;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] + div[class*="cozyMessage"][class*="groupStart"] {
  margin-top: 0px!important;
}

div[class*="cozyMessage"][class*="groupStart"]::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  right: 20px;
  border-bottom: thin solid var(--background-modifier-accent);
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] + [class*="groupStart"]::after {
  display: none;
}

/* Background Flash */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"][class*="groupStart"] {
  margin-top: 0!important;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"][class*="groupStart"]::after{
  display: none;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"] {
  background-color: transparent!important;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"] > div[class*="message"] {
  border-radius: 2px;
  transition: 1s ease-in-out background;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"] > div[class*="message"][class*="groupStart"] {
  margin-top: 40px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"][style*="rgba(114, 137, 218, 0.2)"] > div[class*="message"] {
  background-color: rgb(114, 137, 218, .2)!important;
  transition: none;
}

/* Beginning of Chat */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="welcomeMessage"] {
  padding: 20px 20px 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="welcomeMessage"] > div[class*="emptyMessage"] {
  padding-bottom: 0;
  border-bottom: none;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="scroller"] > div[class*="placeholder"] + div[class*="container"] {
  padding: 20px 20px 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="scroller"] > div[class*="placeholder"] + div[class*="default"] {
  margin: 0 20px;
  border-bottom: none;
}

/* Dividers */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] {
  margin: 20px 20px!important;
  top: 0;
  height: 22px;
  border-top: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] > span[class*="content"] {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  padding: 0 8px;
  background-color: var(--background-primary);
  border-radius: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] > span::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background-color: var(--background-modifier-accent);
  z-index: -1;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span[class*="content"]::after {
  background-color: currentColor;
  opacity: .7;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span[class*="content"] + span[class*="unreadPill"] {
  display: none;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span[class*="unreadPill"] {
  position: initial;
  height: 100%;
  top: 0;
  color: #f04747;
  font-weight: 600;
  padding: 0 8px;
  background-color: var(--background-primary);
  border-radius: 0;
  font-size: 0px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span[class*="unreadPill"]::after {
  font-size: 14px;
  content: "NEW MESSAGES";
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span::before {
  background-color: currentColor;
  opacity: .7;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"][class*="isUnread"] > span[class*="unreadPill"] svg {
  display: none;
}

/* Remove Highlight and Timestamp */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] {
  background-color: transparent!important;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="cozyMessage"] span[class*="timestampVisibleOnHover"] {
  display: none!important;
}

/* Mentions */
div[class*="cozyMessage"][class*="mentioned"]::before {
  display: none;
}

div[class*="cozyMessage"][class*="mentioned"] > div[class*="contents"] > div[class*="markup"] {
  background-color: var(--background-mentioned)!important;
  border-radius: 0 3px 3px 0;
  position: relative;
  margin: -.1rem -.2rem .1rem!important;
  padding: .1rem .2rem!important;
  padding-left: calc(6px + .2rem)!important;
  margin-left: -6px!important;
}

div[class*="cozyMessage"][class*="mentioned"] > div[class*="contents"] > div[class*="markup"]::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 2px;
  background-color: rgba(250,166,26,.2);
  border-left: 4px solid #faa61a;
  border-radius: 3px 0 0 3px;
  height: 100%;
}

/* Header & Avatar */
div[class*="cozyMessage"] > div[class*="contents"] > h2[class*="header"] span[class*="username"] {
  margin-right: .3rem;
}

div[class*="cozyMessage"] > div[class*="contents"] > h2[class*="header"] span[class*="timestamp"] {
  margin-left: 0;
}

div[class*="cozyMessage"] > div[class*="contents"] img[class*="avatar"] {
  width: 40px;
  height: 40px;
  top: 2px;
  left: 0;
  margin: 20px;
  margin-top: 0;
  filter: none!important;
  transform: none!important;
  -webkit-user-drag: none;
}

div[class*="cozyMessage"] > div[class*="contents"] img[class*="avatar"]:hover {
  opacity: .8;
}

/* Text Padding */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="cozyMessage"] {
  padding: 0;
  padding-left: 80px;
  padding-right: 10px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="cozyMessage"] > div[class*="contents"] > div[class*="markup"] {
  padding-left: 80px;
  margin-left: -80px;
}

/* Buttons */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] {
  padding-right: 10px;
  padding-left: 0;
  top: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="cozyMessage"] > div[class*="buttonContainer"] > div[class*="buttons"][class*="isHeader"] {
  top: 1.375rem;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] {
  height: 1.375rem;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: flex-start;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="emojiButton"],
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="emojiSeparator"] {
  display: none;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="button"] {
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  padding: 0;
  background-color: transparent!important;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="button"] svg {
  height: 1rem;
  width: 1rem;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] > div[class*="button"]:last-child svg {
  transform: rotate(90deg);
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] > div[class*="contents"] > div[class*="markup"]::before {
  content: "";
  width: 2rem;
  height: 1rem;
  display: inline-flex;
  float: right;
}

/* Embeds & Reactions */
div[class*="cozyMessage"] > div[class*="container"]:not([class*="button"]) {
  padding-top: 8px;
  padding-bottom: 8px;
  grid-row-gap: 8px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] {
  margin-left: -2px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] {
  border-radius: 3px;
  margin: 2px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] > div[class*="reactionInner"] {
  padding: 0 6px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] > div[class*="reactionInner"] > img {
  margin: 3px 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reaction"] > div[class*="reactionInner"] > div[class*="reactionCount"] {
  margin-left: 6px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"] div[class*="reactions"] > div > div[class*="reactionBtn"] {
  margin-left: 6px;
}

/* Clyde */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"][class*="localBot"]::before {
  top: -20px;
  height: calc(100% + 40px);
  width: 100%;
  background: linear-gradient(90deg,var(--background-secondary) -40%,transparent 50%);
  z-index: -1;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="message"][class*="localBot"] div[class*="localBotMessage"] {
  margin-top: 0;
  margin-bottom: -8px;
}

/* Uploading */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) {
  padding: 0;
  padding-left: 80px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) > div[class*="contents"] > img {
  pointer-events: none;
  margin-left: 4px;
  margin-right: 20px;
  filter: none!important;
  transform: none!important;
  margin-top: 40px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) > div[class*="contents"] > h2[class*="header"] > span[class*="username"] {
  margin-right: .3rem;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) > div[class*="contents"] > h2[class*="header"] > span[class*="timestamp"] {
  margin-left: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) > div[class*="contents"] > h2[class*="header"] {
  overflow: visible;
  position: initial;
  margin-top: 40px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) > div[class*="contents"] > h2[class*="header"]::before {
  content: "";
  position: absolute;
  display: block;
  left: 20px;
  right: 20px;
  top: 20px;
  border-bottom: thin solid var(--background-modifier-accent);
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="wrapper"][class*="cozy"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]) > div[class*="contents"] > div[class*="markup"]:last-child {
  padding: 8px 0;
  padding-left: 80px;
  margin-left: -80px;
}

/* Blocked */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) {
  margin-top: 40px;
  position: relative;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  right: 20px;
  border-bottom: thin solid var(--background-modifier-accent);
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) div[class^="blockedSystemMessage"] {
  padding: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) div[class^="blockedSystemMessage"] > div[class^="content"] {
  font-size: 14px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"][class*="expanded"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) {
  background-color: transparent;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"][class*="expanded"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::before {
  content: "";
  position: absolute;
  top: -20px;
  height: calc(100% + 40px);
  width: 100%;
  background-color: var(--background-message-hover);
  z-index: -1;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider"] + div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) {
  margin-top: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider"] + div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::after {
  display: none;
}

/* Input */
div[class*="chatContent"] > form[class*="form"] {
  border-top: 1px solid var(--background-modifier-accent);
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
}

div[class*="chatContent"] > form[class*="form"] > div[class*="channelTextArea"],
div[class*="chatContent"] > form[class*="form"] > div[class*="wrapper"] {
  margin-top: 20px;
  margin-bottom: 30px;;
}

div[class*="chatContent"] div[class*="jumpToPresentBar"] {
  padding: 0;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="scroller"]::after {
  display: none;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="scroller"] > div:not([class*="scroller"]):last-child {
  margin-bottom: 20px;
}

div[class*="chatContent"] > form[class*="form"] > div[class*="typing"] {
  height: 30px;
  left: 0;
  right: 0;
}

/* Appearance Settings */
#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] div[class*="compact"][class*="firstMessage"]  {
  margin-top: 0!important;
}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] div[class*="message"][class*="firstMessage"]::after {
  display: none;
}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] > div[class*="message"] {
  padding: 0;
  padding-left: 80px;
}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] ~ h2[class^="h2"][class*="marginTop60"] ~ div:not([class]) + div[class^="marginTop20"] {
  cursor: not-allowed;
}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] ~ h2[class^="h2"][class*="marginTop60"] ~ div:not([class]) + div[class^="marginTop20"] > div {
  pointer-events: none;
  opacity: .6;
}

#user-settings div[class^="contentRegion"] main[class^="contentColumn"] div[class^="children"] > div[class^="preview"] ~ h2[class^="h2"][class*="marginTop60"] ~ div:not([class]) + div[class^="marginTop20"] > h5::after {
  content: "(Disabled due to theme)";
  color: #f04747;
  margin-left: 4px;
}

/* Enable chat while scrolling */
div[class*="chatContent"] > div[class*="messagesWrapper"] > div[class^="scrollerWrap"] > div[class^="scroller"][class*="scrolling"]>* {
  pointer-events: initial;
}

/* COMPACT MODE */

/* Message group start border */
div[class*="compact"][class*="groupStart"] {
  margin-top: 20px!important;
  position: relative;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="divider-"] + div[class*="compact"][class*="groupStart"] {
  margin-top: 0px!important;
}

div[class*="compact"][class*="groupStart"]::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  right: 20px;
  border-bottom: thin solid var(--background-modifier-accent);
}

/* Background Flash */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="backgroundFlash"] > div[class*="compact"][class*="groupStart"] {
  margin-top: 20px!important;
}

/* Dividers */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="compact"] + div[class*="divider-"] {
  margin: 10px 20px!important;
}

/* Mentions */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="mentioned"][class*="compact"] {
  background-color: var(--background-mentioned)!important;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="mentioned"][class*="compact"]::before {
  display: none;
}

/* Text Padding */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="compact"] {
  padding: 0;
  padding-left: 80px;
  padding-right: 10px;
}

/* Embeds & Reactions */
div[class*="compact"] > div[class*="container"]:not([class*="button"]) {
  padding-top: 6px;
  padding-bottom: 6px;
  grid-row-gap: 6px;
}

/* Clyde */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="compact"][class*="localBot"]::before {
  top: -10px;
  height: calc(100% + 20px);
}

/* Blocked */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"]) {
  margin-top: 20px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::after {
  top: -10px;
}

div[class*="chatContent"] > div[class*="messagesWrapper"] div[class^="groupStart"][class*="expanded"]:not([class*="message"]):not([class*="system"]):not([class*="backgroundFlash"]):not([class*="wrapper"])::before {
  top: -10px;
  height: calc(100% + 20px);
}

/* Input */
div[class*="chatContent"] > div[class*="messagesWrapper"] div[class*="scroller"] > div[class*="compact"] ~ div:not([class*="scroller"]):last-child {
  margin-bottom: 10px;
}
